<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
    <title>登陆界面</title>
    <link rel="stylesheet" href="{% static 'css/peks_index.css' %}">
</head>

<body>
    {% if message %}
        <div align="center">{{ message }}</div>
    {% endif %}
    <div class="dowebok">
        <div class="container">
            <div class="left">
                <div class="login">Log in</div>
                <div class="eula">Welcome, please input your Username and key to login！</div>
            </div>
            <div class="right">
                <svg viewBox="0 0 320 300">
                    <defs>
                        <linearGradient inkscape:collect="always" id="linearGradient" x1="13" y1="193.49992" x2="307"
                            y2="193.49992" gradientUnits="userSpaceOnUse">
                            <stop style="stop-color:#ff00ff;" offset="0" id="stop876" />
                            <stop style="stop-color:#ff0000;" offset="1" id="stop878" />
                        </linearGradient>
                    </defs>
                    <path d="
                       m 40,120.00016  239.99984,-3.2e-4
                       c 0,0 24.99263,0.79982 25.00016,35.00016
                         0.008,34.20084 -25.00016,35 -25.00016,35
                       h -239.99984
                       c 0,-0.0205 -25,4.01348 -25,38.5
                         0,34.48652 25,38.5 25,38.5
                       h 79.99995
                       c 0,0 20,-0.99604 20,-25
                         0,-24.00396 -20,-25 -20,-25
                       h -79.99995
                       c 0,0 -20,1.01033 -20,25
                         0,24.00396 20,25 20,25
                       h 239.99985
                       c 0,0 20,-0.99604 20,-25
                         0,-24.00396 -20,-25 -20,-25
                       h -79.99995
                       c 0,0 -20,1.01033 -20,25
                         0,24.00396 20,25 20,25
                       h 79.99995 
                    " />
                </svg>
                <form class="form" action="/index2/" method="post">
                    {% csrf_token %}
                    <label for="id_username">Username</label>
                    <input type="text" id="id_username" name="username">
                    <label for="id_password">Password</label>
                    <input type="password" id="id_password" name="password">
                    <div class="a">
                        <input type="submit" id="signin" value="sign in"/>
                        <input type="button" id="signup" value="sign up" onclick="javascrtpt:window.location.href='../signup2'"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/anime_min.js' %}"></script>
    <script src="{% static 'js/peks_index.js' %}"></script>
</body>
<body>
	<div id="footer">Copyright © 2020 等待命名（team&system). All rights reserved.</div>
</body>

</html>