<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>等待命名</title>
    <link rel="stylesheet" href="{% static 'css/peks_index.css' %}">
</head>

<body>
    <div class="funcbok">
        <div class="scontainer">
            <div class="sleft">
                <div class="login">Result</div>
                {% for dt in data %}
                <div class="eula">{{ dt }}</div>
                {% endfor %}
                <!--  <div class="eula">搜索结果，等待与服务器对接</div>  -->
            </div>
            <div class="sright">
                <svg viewBox="0 0 320 300">
                    <defs>
                        <linearGradient inkscape:collect="always" id="linearGradient" x1="13" y1="193.49992" x2="307"
                            y2="193.49992" gradientUnits="userSpaceOnUse">
                            <stop style="stop-color:#ff00ff;" offset="0" id="stop876" />
                            <stop style="stop-color:#ff0000;" offset="1" id="stop878" />
                        </linearGradient>
                    </defs>
                    <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
                </svg>
                <form class="form" action="/search_test/" method="post">
                    {% if message %}
                      <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}
                    {% csrf_token %}
                    <label for="id_text">Keyword</label>
                    <input type="text" id="id_text" name="keyword" placeholder="Keyword" autofocus required>
                    <div>
                        <div class="leftbtn">
                            <input type="button" id="send" value="back to send" onclick="javascrtpt:window.location.href='/sendRcv/'" >
                        </div>
                        <div class="rightbtn">
                            <input type="submit" id="search" value="search" >
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/anime_min.js' %}"></script>
    <script src="{% static 'js/peks_index.js' %}"></script>
</body>

<body>
    <div id="footer">Copyright © 2020 等待命名（team&system). All rights reserved.</div>
</body>

</html>